<header class="mt-5 mb-5">
    <nav class="row">
        <div class="col col-sm-6 text-center text-sm-start">
            <h1><a href="/">Misu's Lake</a></h1>
        </div>
        <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-end">
            <ul>
                <li>
                    <a href="/about/">
                        <img src="/assets/person-circle.svg" alt="About">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener noreferrer">
                        <img src="/assets/twitter.svg" alt="Twitter">
                    </a>
                </li>
                <li>
                    <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer">
                        <img src="/assets/github.svg" alt="Github">
                    </a>
                </li>
                <li>
                    <a href="https://twitch.com/{{ site.twitch_username }}" target="_blank" rel="noopener noreferrer">
                        <img src="/assets/twitch.svg" alt="Twitch">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
</header>